Repository SkillsFundingAgency/das-tools-notifications: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/package-build.yml, azure-pipelines.yml

Path conditions:
  .ci/package-build.yml: any of: src/SFA.DAS.ToolsNotifications.Client, .ci/package-build.yml
  azure-pipelines.yml: any of: manifests, src, azure-pipelines.yml, Dockerfile

Pack directory
  .ci/package-build.yml
Due: .ci/package-build.yml

Missing quote 🙄
  .ci/package-build.yml
Due: .ci/package-build.yml

Fix namespaces
  src/SFA.DAS.ToolsNotifications.Client/Entities/Notification.cs
  src/SFA.DAS.ToolsNotifications.Client/Entities/NotificationClientConfiguration.cs
  src/SFA.DAS.ToolsNotifications.Client/INotificationClient.cs
  src/SFA.DAS.ToolsNotifications.Client/NotificationClient.cs
  src/SFA.DAS.ToolsNotifications.Client/Repositories/INotificationRepository.cs
  src/SFA.DAS.ToolsNotifications.Client/Repositories/NotificationRedisRepository.cs
  src/SFA.DAS.ToolsNotifications.Client/ServiceCollectionExtension.cs
Due: .ci/package-build.yml, azure-pipelines.yml

Namespace fix on service reg ex & rename method +semver: patch
  src/SFA.DAS.ToolsNotifications.Client/ServiceCollectionExtension.cs
Due: .ci/package-build.yml, azure-pipelines.yml

use IOptions for configuration
  src/SFA.DAS.ToolsNotifications.Client/ServiceCollectionExtension.cs
Due: .ci/package-build.yml, azure-pipelines.yml

adds return services
  src/SFA.DAS.ToolsNotifications.Client/ServiceCollectionExtension.cs
Due: .ci/package-build.yml, azure-pipelines.yml

+semver: minor Rework client and api
  src/SFA.DAS.ToolsNotifications.Api.sln
  src/SFA.DAS.ToolsNotifications.Api/Controllers/NotificationController.cs
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Api/Startup.cs
  src/SFA.DAS.ToolsNotifications.Api/appsettings.json
  src/SFA.DAS.ToolsNotifications.Client/Configuration/NotificationClientConfiguration.cs
  src/SFA.DAS.ToolsNotifications.Client/INotificationClient.cs
  src/SFA.DAS.ToolsNotifications.Client/NotificationClient.cs
  src/SFA.DAS.ToolsNotifications.Client/Repositories/INotificationRepository.cs
  src/SFA.DAS.ToolsNotifications.Client/Requests/INotificationClientRequest.cs
  src/SFA.DAS.ToolsNotifications.Client/Requests/NotificationRedisClientRequest.cs
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Client/ServiceCollectionExtension.cs
  src/SFA.DAS.ToolsNotifications.Core/Entities/Notification.cs
  src/SFA.DAS.ToolsNotifications.Core/IRepositories/INotificationRepository.cs
  src/SFA.DAS.ToolsNotifications.Core/SFA.DAS.ToolsNotifications.Core.csproj
  src/SFA.DAS.ToolsNotifications.Core/Services/NotificationService.cs
  src/SFA.DAS.ToolsNotifications.Infrastructure/Repositories/NotificationRedisRepository.cs
  src/SFA.DAS.ToolsNotifications.Infrastructure/SFA.DAS.ToolsNotifications.Infrastructure.csproj
  src/SFA.DAS.ToolsNotifications.Types/Entities/Notification.cs
  src/SFA.DAS.ToolsNotifications.Types/SFA.DAS.ToolsNotifications.Types.csproj
Due: .ci/package-build.yml, azure-pipelines.yml

Add redis key configuration
  src/SFA.DAS.ToolsNotifications.Api.sln
  src/SFA.DAS.ToolsNotifications.Api/appsettings.json
Due: azure-pipelines.yml

Add ingressroute
  manifests/ingress.yml
Due: azure-pipelines.yml

update ingress route name
  manifests/ingress.yml
Due: azure-pipelines.yml

fix vi rage
  manifests/ingress.yml
Due: azure-pipelines.yml

Add ingress (#3)
  manifests/ingress.yml
Due: azure-pipelines.yml

initial attempt
  .ci/api-build.yml
  azure-pipelines.yml
  azure/template.json
  manifests/deployment.yml
  manifests/ingress.yml
  pipeline-templates/jobs/deploy.yml
  pipeline-templates/stage/api-build.yml
  pipeline-templates/stage/package-build.yml
  pipeline-templates/stage/package-publish.yml
  src/SFA.DAS.ToolsNotifications.Api/Startup.cs
  src/SFA.DAS.ToolsNotifications.Api/appsettings.json
Due: azure-pipelines.yml

rename job folder
  pipeline-templates/job/deploy.yml
Due: none

added variable groups
  azure-pipelines.yml
  manifests/deployment.yml
Due: azure-pipelines.yml

test nuget stage
  pipeline-templates/stage/package-publish.yml
Due: none

publish pipeline artifacrt
  pipeline-templates/stage/package-build.yml
Due: none

test
  pipeline-templates/stage/package-build.yml
Due: none

directory
  pipeline-templates/stage/package-build.yml
Due: none

attempt
  azure-pipelines.yml
  pipeline-templates/stage/package-build.yml
Due: azure-pipelines.yml

trial and error
  azure-pipelines.yml
  pipeline-templates/stage/package-build.yml
  pipeline-templates/stage/package-publish.yml
Due: azure-pipelines.yml

add extra repo?
  azure-pipelines.yml
Due: azure-pipelines.yml

test
  azure-pipelines.yml
Due: azure-pipelines.yml

try api
  pipeline-templates/stage/package-build.yml
Due: none

api
  pipeline-templates/stage/package-build.yml
Due: none

added agent pool to package build
  azure-pipelines.yml
  pipeline-templates/stage/package-build.yml
Due: azure-pipelines.yml

no linked template
  azure-pipelines.yml
Due: azure-pipelines.yml

remove api publish
  azure-pipelines.yml
  pipeline-templates/stage/package-publish.yml
Due: azure-pipelines.yml

try widnows?
  pipeline-templates/stage/package-build.yml
Due: none

test 2
  pipeline-templates/stage/package-build.yml
Due: none

hmmm
  pipeline-templates/stage/package-build.yml
Due: none

try
  pipeline-templates/stage/package-build.yml
Due: none

give up
  pipeline-templates/stage/package-build.yml
Due: none

reference master
  azure-pipelines.yml
  pipeline-templates/stage/package-publish.yml
Due: azure-pipelines.yml

re-add ARM template
  azure-pipelines.yml
  azure/template.json
Due: azure-pipelines.yml

re-add references to app insights
  azure-pipelines.yml
  azure/template.json
  manifests/deployment.yml
  src/SFA.DAS.ToolsNotifications.Api/Startup.cs
  src/SFA.DAS.ToolsNotifications.Api/appsettings.json
Due: azure-pipelines.yml

corrected AI key
  manifests/deployment.yml
Due: azure-pipelines.yml
