Repository SkillsFundingAgency/das-tools-notifications: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/package-build.yml, azure-pipelines.yml

.ci/package-build.yml:

trigger:
  batch: true
  branches:
    include:
      - "*"
  paths:
    include:
      - src/SFA.DAS.ToolsNotifications.Client/*
      - .ci/package-build.yml

pr: none

stages:
- stage: build
  displayName: Build Package
  jobs:
  - job: build_package
    displayName: Build Package
    steps:
    - task: UseGitVersion@5
      inputs:
        versionSpec: 5.x
        useConfigFile: true
        configFilePath: GitVersion.yml

    - task: DotNetCoreCLI@2
      displayName: 'dotnet restore'
      inputs:
        command: restore
        projects: src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj

    - task: DotNetCoreCLI@2
      displayName: 'dotnet build'
      inputs:
        projects: src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
        arguments: '/p:Configuration=Release'

    - task: DotNetCoreCLI@2
      displayName: 'dotnet pack'
      inputs:
        command: pack
        projects: src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
        packDirectory: '$(build.artifactstagingdirectory)/package'
        versioningScheme: byBuildNumber

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: packagea'
      inputs:
        artifactName: package
        pathtoPublish: '$(Build.ArtifactStagingDirectory)/package'

azure-pipelines.yml:

resources:
  repositories:
  - repository: self
  - repository: das-platform-building-blocks
    type: github
    name: SkillsFundingAgency/das-platform-building-blocks
    ref: refs/tags/0.4.74
    endpoint: SFA
  - repository: das-platform-automation
    type: github
    name: SkillsFundingAgency/das-platform-automation
    ref: refs/tags/5.0.6
    endpoint: SFA

trigger:
  batch: true
  branches:
    include:
      - "master"
  paths:
    exclude:
      - LICENSE
      - README.md
      - .gitignore

variables:
- name: KubectlVersion
  value: 1.23.8
- name: ContainerImageName
  value: das-tools-notifications
- group: Release Management Resources

stages:
- template: pipeline-templates/stage/api-build.yml
  parameters:
    ServiceConnection: SFA-DIG-Prod-ARM

- template: pipeline-templates/stage/package-build.yml

- stage: DeployTo_PREPROD
  displayName: DeployTo_PREPROD
  variables:
  - group: PreProd Management Resources
  - group: PreProd Shared Resources
  - group: PREPROD Tools Service Shared
  jobs:
  - template: pipeline-templates/job/deploy.yml
    parameters:
      Environment: PREPROD
      KubectlVersion: $(KubectlVersion)
      ServiceConnection: SFA-DIG-PreProd-ARM
      AksResourceGroup: $(AKSResourceGroupName)
      AppGatewayName: $(AKSSharedAppGatewayName)
      AppGatewayResourceGroup: $(AKSSharedNodeResourceGroupName)
      KeyVaultName: $(SharedKeyVaultName)
      KubernetesCluster: $(AKSSharedClusterName)

- stage: DeployTo_PROD
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  displayName: DeployTo_PROD
  variables:
  - group: Prod Management Resources
  - group: Prod Shared Resources
  - group: PROD Tools Service Shared
  jobs:
  - template: pipeline-templates/job/deploy.yml
    parameters:
      Environment: PROD
      KubectlVersion: $(KubectlVersion)
      ServiceConnection: SFA-DIG-Prod-ARM
      AksResourceGroup: $(AKSResourceGroupName)
      AppGatewayName: $(AKSSharedAppGatewayName)
      AppGatewayResourceGroup: $(AKSSharedNodeResourceGroupName)
      KeyVaultName: $(SharedKeyVaultName)
      KubernetesCluster: $(AKSSharedClusterName)

## publish nuget package
- template: pipeline-templates/stage/package-publish.yml

Fix vulnerable packages and add package scanning
  Dockerfile
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Core/SFA.DAS.ToolsNotifications.Core.csproj
  src/SFA.DAS.ToolsNotifications.Infrastructure/SFA.DAS.ToolsNotifications.Infrastructure.csproj
  tests/Test-Packages.ps1
Due: .ci/package-build.yml, azure-pipelines.yml

Remove nlog and update packages
  Dockerfile
  manifests/deployment.yml
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Api/appsettings.json
  src/SFA.DAS.ToolsNotifications.Api/nlog.config
  src/SFA.DAS.ToolsNotifications.Client/Requests/NotificationRedisClientRequest.cs
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Client/ServiceCollectionExtension.cs
  tests/Test-Packages.ps1
Due: .ci/package-build.yml, azure-pipelines.yml

Use templates for nuget stages
  azure-pipelines.yml
  pipeline-templates/stage/code-build.yml
  pipeline-templates/stage/package-build.yml
  pipeline-templates/stage/package-publish.yml
Due: azure-pipelines.yml

Publish missing package
  pipeline-templates/stage/code-build.yml
Due: azure-pipelines.yml

Remove Newtonsoft.Json and upgrade Swashbuckle
  src/SFA.DAS.ToolsNotifications.Api/Models/Converters/NotificationDtoRequiredPropertyConverter.cs
  src/SFA.DAS.ToolsNotifications.Api/Models/NotificationDto.cs
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Client/Requests/NotificationRedisClientRequest.cs
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Core/SFA.DAS.ToolsNotifications.Core.csproj
  src/SFA.DAS.ToolsNotifications.Infrastructure/SFA.DAS.ToolsNotifications.Infrastructure.csproj
Due: .ci/package-build.yml, azure-pipelines.yml

Use deserialization callbacks instead of converters for validation
  src/SFA.DAS.ToolsNotifications.Api/Models/Converters/NotificationDtoRequiredPropertyConverter.cs
  src/SFA.DAS.ToolsNotifications.Api/Models/NotificationDto.cs
  tests/Test-Api.ps1
Due: azure-pipelines.yml

Added as-manifest
  as-manifest.yml
Due: azure-pipelines.yml

Added as-manifest (#17)
  as-manifest.yml
Due: azure-pipelines.yml

azure-pipelines.yml: Updated GitHub endpoints to SkillsFundingAgency
  azure-pipelines.yml
Due: azure-pipelines.yml

azure-pipelines.yml: Updated GitHub endpoints to SkillsFundingAgency (#18)
  azure-pipelines.yml
Due: azure-pipelines.yml

Updating pipeline dependencies: das-platform-building-blocks to 2.1.0 and das-platform-automation to 5.1.4
  azure-pipelines.yml
Due: azure-pipelines.yml

Pin to patched version of transitive package System.Drawing.Common
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Core/SFA.DAS.ToolsNotifications.Core.csproj
  src/SFA.DAS.ToolsNotifications.Infrastructure/SFA.DAS.ToolsNotifications.Infrastructure.csproj
Due: .ci/package-build.yml, azure-pipelines.yml

Updating pipeline dependencies: das-platform-building-blocks to 2.1.0 and das-platform-automation to 5.1.4 (#19)
  azure-pipelines.yml
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Core/SFA.DAS.ToolsNotifications.Core.csproj
  src/SFA.DAS.ToolsNotifications.Infrastructure/SFA.DAS.ToolsNotifications.Infrastructure.csproj
Due: .ci/package-build.yml, azure-pipelines.yml

updated agent pool ref to parameter
  manifests/deployment.yml
Due: azure-pipelines.yml

Update to .net 8
  Dockerfile
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Core/SFA.DAS.ToolsNotifications.Core.csproj
  src/SFA.DAS.ToolsNotifications.Infrastructure/SFA.DAS.ToolsNotifications.Infrastructure.csproj
  src/SFA.DAS.ToolsNotifications.Types/SFA.DAS.ToolsNotifications.Types.csproj
Due: .ci/package-build.yml, azure-pipelines.yml

Bypassed package vulnerabilities
  tests/Test-Packages.ps1
Due: azure-pipelines.yml

Added requirer modifier to Notification class properties
  src/SFA.DAS.ToolsNotifications.Types/Entities/Notification.cs
Due: azure-pipelines.yml

added required modifier to Notification Client Config
  src/SFA.DAS.ToolsNotifications.Client/Configuration/NotificationClientConfiguration.cs
Due: .ci/package-build.yml, azure-pipelines.yml

.net8 updates
  src/SFA.DAS.ToolsNotifications.Api/Program.cs
  src/SFA.DAS.ToolsNotifications.Api/SFA.DAS.ToolsNotifications.Api.csproj
  src/SFA.DAS.ToolsNotifications.Client/Configuration/NotificationClientConfiguration.cs
  src/SFA.DAS.ToolsNotifications.Client/SFA.DAS.ToolsNotifications.Client.csproj
  src/SFA.DAS.ToolsNotifications.Core/SFA.DAS.ToolsNotifications.Core.csproj
  src/SFA.DAS.ToolsNotifications.Infrastructure/SFA.DAS.ToolsNotifications.Infrastructure.csproj
  src/SFA.DAS.ToolsNotifications.Types/Entities/Notification.cs
  src/SFA.DAS.ToolsNotifications.Types/SFA.DAS.ToolsNotifications.Types.csproj
Due: .ci/package-build.yml, azure-pipelines.yml

Added docker compose installation in build
  pipeline-templates/stage/code-build.yml
Due: azure-pipelines.yml

Used Docker Installer instead
  pipeline-templates/stage/code-build.yml
Due: azure-pipelines.yml

Add health check to docker compose
  docker-compose.yml
Due: azure-pipelines.yml

Add retry to Test-Api.ps1
  tests/Test-Api.ps1
Due: azure-pipelines.yml

Added more retries to test api powershell
  tests/Test-Api.ps1
Due: azure-pipelines.yml

Change redis connection string
  docker-compose.yml
Due: azure-pipelines.yml

Specify aspnet url
  docker-compose.yml
Due: azure-pipelines.yml

Add exception handling
  docker-compose.yml
  tests/Test-Api.ps1
Due: azure-pipelines.yml

Add network mode
  docker-compose.yml
Due: azure-pipelines.yml

Port changes
  docker-compose.yml
  tests/Test-Api.ps1
Due: azure-pipelines.yml

Last try!
  tests/Test-Api.ps1
Due: azure-pipelines.yml

Removed integration test
  pipeline-templates/stage/code-build.yml
Due: azure-pipelines.yml

Updated README to mention ownership and .NET8 upgrade
  README.md
Due: none
